
<app-header backbutton="auth" titulo="Registro"></app-header>
<ion-content>
    <app-logo></app-logo>
    <br>
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit">
        
        <app-custom-input 
        icon="person-outline"  
         type="text"
        autocomplete="nombre"    
        [control]="form.controls.nombre"
        label="Nombre"></app-custom-input>
        <div class="validar" *ngIf="form.controls.nombre.errors && form.controls.nombre.touched" >
            <div style="color: red; text-align: center;" *ngIf="form.controls.nombre.errors?.['required']">Ingrese su nombre </div>    
            <div style="color: red; text-align: center;" *ngIf="form.controls.nombre.errors?.['minlenght']">Ingrese al menos 4 caracteres</div>    
        </div>
        <app-custom-input 
        icon="person-outline"  
         type="email"
        autocomplete="email"    
        [control]="form.controls.email"
        label="Correo"></app-custom-input>
        <div class="validar" *ngIf="form.controls.email.errors && form.controls.email.touched" >
            <div style="color: red; text-align: center;" *ngIf="form.controls.email.errors?.['required']">Ingrese su correo</div>    
            <div style="color: red; text-align: center;" *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>    
        </div>
        <br>
        <app-custom-input
        label="Contraseña" 
        icon="lock-closed-outline" 
        [control]="form.controls.clave"
        type="password"></app-custom-input>
        <div class="validar" *ngIf="form.controls.clave.errors && form.controls.clave.touched" >
            <div style="color: red; text-align: center;" *ngIf="form.controls.clave.errors?.['required']"> Ingrese su clave </div>     
        </div>
        <br>
        <ion-button  [disabled]="form.invalid" type="submit" class="submit" expand="block"  shape="round" mode="ios">
            Registrarse
        </ion-button>
        
    </form>
    
</ion-content>
