<app-header  backbutton="/auth" titulo="Recuperar contraseña"></app-header>
<ion-content>
   
    <form id="centrar" [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit">
        <p class="ion-text-center"> te enviaremos un correo para cambes tu contraseña</p>
        <app-custom-input 
        icon="person-outline"  
         type="text"
        autocomplete="email"    
        [control]="form.controls.email"
        label="Correo"></app-custom-input>
        <div class="validar" *ngIf="form.controls.email.errors && form.controls.email.touched" >
            <div style="color: red; text-align: center;" *ngIf="form.controls.email.errors?.['required']">Ingrese su correo</div>    
            <div style="color: red; text-align: center;" *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>    
        </div>
        <ion-button [disabled]="form.invalid" type="submit" class="submit" expand="block"  shape="round" mode="ios">
            Recuperar contraseña
        </ion-button>
    </form>
   
</ion-content>
        


